src/main/resources/BackupService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://provider.cloud/" name="BackupService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://provider.cloud/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://provider.cloud/" schemaLocation="BackupService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="create_backup_folder">
    <part name="parameters" element="tns:create_backup_folder"/>
  </message>
  <message name="create_backup_folderResponse">
    <part name="parameters" element="tns:create_backup_folderResponse"/>
  </message>
  <message name="upload_file">
    <part name="parameters" element="tns:upload_file"/>
  </message>
  <message name="upload_fileResponse">
    <part name="parameters" element="tns:upload_fileResponse"/>
  </message>
  <message name="delete_file">
    <part name="parameters" element="tns:delete_file"/>
  </message>
  <message name="delete_fileResponse">
    <part name="parameters" element="tns:delete_fileResponse"/>
  </message>
  <portType name="Backup">
    <operation name="create_backup_folder">
      <input wsam:Action="http://provider.cloud/Backup/create_backup_folderRequest" message="tns:create_backup_folder"/>
      <output wsam:Action="http://provider.cloud/Backup/create_backup_folderResponse" message="tns:create_backup_folderResponse"/>
    </operation>
    <operation name="upload_file">
      <input wsam:Action="http://provider.cloud/Backup/upload_fileRequest" message="tns:upload_file"/>
      <output wsam:Action="http://provider.cloud/Backup/upload_fileResponse" message="tns:upload_fileResponse"/>
    </operation>
    <operation name="delete_file">
      <input wsam:Action="http://provider.cloud/Backup/delete_fileRequest" message="tns:delete_file"/>
      <output wsam:Action="http://provider.cloud/Backup/delete_fileResponse" message="tns:delete_fileResponse"/>
    </operation>
  </portType>
  <binding name="BackupPortBinding" type="tns:Backup">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="create_backup_folder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="upload_file">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delete_file">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BackupService">
    <port name="BackupPort" binding="tns:BackupPortBinding">
      <soap:address location="http://localhost:9000/backup"/>
    </port>
  </service>
</definitions>

